<header class = "header" *ngIf="initialized">
  <!-- <div fxLayout="row" fxLayoutGap="1px">
    <button class = "firstButton" mat-button [matMenuTriggerFor]="menu" color = "black">Categories</button>
    <button *ngIf="authenticated" class = "button" mat-button (click)="navigateToMyAuctions()">My Auctions</button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngFor="let item of categories" (click)="navigateToCategory(item)">{{item.name}}</button>
    </mat-menu>

    <button *ngIf="!authenticated" class = "button" mat-button (click)="navigateToRegister()">Register</button>
    <button *ngIf="!authenticated" class = "button" mat-button (click)="navigateToLogin()">Login</button>
    <button *ngIf="authenticated" class = "button" mat-button (click)="navigateToMyBids()">My Bids</button>
    <button *ngIf="authenticated" class = "button" mat-button (click)="logout()">Logout</button>
  </div> -->

  <nav id="my-first" (document:click)="handleDocumentClick($event)">
    <ul>
      <li class="burger" (click)="toggleMenu()">
        <i class="material-icons">{{ isMenuOpen ? "close" : "menu" }}</i>
      </li>
      <li class="menu" [class.is-open]="isMenuOpen">
        <a class="menu-item"><button class = "firstButton" mat-button [matMenuTriggerFor]="menu">Categories</button></a>
        <mat-menu #menu="matMenu" class="extraMenu">
          <button mat-menu-item *ngFor="let item of categories" (click)="navigateToCategory(item)">{{item.name}}</button>
        </mat-menu>
        <a class="menu-item" *ngIf="isAdmin"><button class = "button" mat-button (click)="navigateToCategories()">Category Management</button></a>
        <a class="menu-item" *ngIf="!authenticated"><button class = "button" mat-button (click)="navigateToRegister()">Register</button></a>
        <a class="menu-item" *ngIf="!authenticated"><button class = "button" mat-button (click)="navigateToLogin()">Login</button></a>
        <a class="menu-item" *ngIf="authenticated"><button class = "button" mat-button (click)="navigateToMyAuctions()">My Auctions</button></a>
        <a class="menu-item" *ngIf="authenticated"><button class = "button" mat-button (click)="navigateToMyBids()">My Bids</button></a>
        <a class="menu-item" *ngIf="authenticated"><button class = "lastButton" mat-button (click)="logout()">Logout</button></a>
      </li>
    </ul>
  </nav>
</header>
