.header {
  background-color: #ce7b00;
  height: 50px;
  width: 100%;
  box-shadow: 0 4px 10px -2px gray;
}

.firstButton {
  font-size: 25px;
  font-weight: bold;
  width:fit-content;
  height: 50px;
  margin: auto;
  margin-left: 5px;
  padding-right: 10px;
}

.button {
  font-size: 25px;
  width:fit-content;
  height: 50px;
  font-weight: bold;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.lastButton {
  font-size: 25px;
  font-weight: bold;
  width: fit-content;
  height: 50px;
  margin: auto;
  position: absolute;
  right: 5px;
}

$menuHeight: 50px;
$menuBreakpoint: 768px;

#my-first {
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    height: 51px;
  }

  .burger {
    padding: 0 10px;
    display: none;
    cursor: pointer;

    i {
      color: white;
      line-height: $menuHeight;
    }

    @media (max-width: $menuBreakpoint) {
      display: block;
    }
  }

  .menu {
    display: flex;
    align-items: center;

    @media (max-width: $menuBreakpoint) {
      display: none;

      &.is-open {
        display: block;
        position: absolute;
        top: #{$menuHeight + 2};
        left: 0;
        background: #ffffff00;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0);
        width: 50%;

        .menu-item {
          border-bottom: 1px solid #cccccc;
          border-right: 1px solid #cccccc;
          border-left: 1px solid #cccccc;
          background: #ffffff;
          position: relative;
          z-index: 9999;
        }

        .menu-item button {
          color: black;
        }

        .firstButton {
          margin-left: 0px;
        }

        .lastButton {
          position: relative;
        }
      }
    }

    .menu-item {
      height: $menuHeight;
      line-height: $menuHeight;
      text-decoration: none;
      display: block;
      font-size: 1rem;
      font-weight: 600;
      color: white;
    }

    .menu-item button {
      color: white;
    }
  }
}
