<div class="mainContainer" *ngIf="initialized">
<div class="container">
  <div *ngIf="auctionsToShow.length>0">

  <div class="description"> Your auctions are being displayed.
    <button class="createButton" mat-raised-button style="background-color: #ffd18d; font-weight: bold;" (click)="navigateToCreateAuction()">+ Create Auction</button>
  </div>

  <table class="customers">
    <thead>
      <tr>
        <th>Name</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Category</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of auctionsToShow" (click)="navigateToAuction(item)">
        <td>{{ item.name }}</td>
        <td>{{ transformDate(item.startDate) }}</td>
        <td>{{ transformDate(item.endDate) }}</td>
        <td>{{ item.category.name }}</td>
      </tr>
    </tbody>
  </table>
  </div>

  <div class="description" *ngIf="auctionsToShow.length<=0 && initialized"> You have no active or old auctions.
    <button class="createButton" mat-raised-button style="background-color: #ffd18d; font-weight: bold;" (click)="navigateToCreateAuction()">+ Create Auction</button>
  </div>

</div>
</div>

<div class="centerContainer" *ngIf="!initialized">
  <mat-progress-spinner class="custom-spinner" mode="indeterminate"></mat-progress-spinner>
</div>
