<div>
  <div>Auction Title:</div>
  <div>{{auction.name}}</div>
  <div>Start Date:</div>
  <div>{{auction.startDate}}</div>
  <div>End Date:</div>
  <div>{{auction.endDate}}</div>
  <div>Auction Category:</div>
  <div>{{auction.category.name}}</div>
  <div>Item Description:</div>
  <div>{{auction.description}}</div>

  <button class="createButton" mat-raised-button style="background-color: #ffde72; font-weight: bold;">Edit Auction</button>
  <button class="createButton" mat-raised-button style="background-color: #ffde72; font-weight: bold;">Delete Auction</button>

</div>
