.customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

.container{
  width: 90%
}

.mainContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}

tr:nth-child(even){background-color: #eeeeee;}

// td, th {
//   border: 1px solid #ddd;
//   padding: 8px;
//   padding-left: 10px;
// }

// tr:nth-child(even){background-color: #ffd18d;}

// th {
//   padding-top: 12px;
//   padding-bottom: 12px;
//   text-align: left;
//   background-color: #e7b100;
//   color: black;
// }

.mat-row:hover {
  background-color: #ffd18d;
  cursor: pointer;
}

.mat-row {
  color: black;
  text-align: center;
  vertical-align: middle;
}

.mat-header {
  background-color: #ce7b00;
  color: white;
}

.table{
  margin-top: 50px;
  margin-bottom: 50px;
}

p {
  padding-left: 10px;
}

.description{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.createButton{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.custom-spinner ::ng-deep circle {
  stroke: #ce7b00;
}

.centerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

@media (max-width: 767px) {
  .container{
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
  }

  .createButton{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
  }

  .table{
    margin-top: 20px;
  }

  .green {
    color: green;
  }

  .red{
    color: red;
  }
}

::ng-deep .mat-sort-header-arrow {
  color: white !important;
}
