<div class="container" *ngIf="initialized">
  <div>Auction title: </div>
  <mat-form-field class="fullWidthItem">
    <mat-label>Your auction title</mat-label>
    <input (input)="updateButtonState()" matInput [(ngModel)]="name" required>
  </mat-form-field>

  <div>End Date: </div>
  <mat-form-field class="fullWidthItem">
    <input (ngModelChange)="updateButtonState()" matInput [(ngModel)]="endDate" type="datetime-local" placeholder="start date" required>
  </mat-form-field>

  <div>Description: </div>
  <mat-form-field class="fullWidthItem">
    <mat-label>Your auction description</mat-label>
    <textarea (input)="updateButtonState()" matInput [(ngModel)]="description" [rows]="8" maxlength="500" required></textarea>
  </mat-form-field>

  <div>
    <button class="fullWidthItem" [disabled]="isButtonDisabled" mat-raised-button style="background-color: #ffd18d; font-weight: bold;" (click)="onPress()">Edit</button>
  </div>
</div>

<div class="centerContainer" *ngIf="!initialized">
  <mat-progress-spinner class="custom-spinner" mode="indeterminate"></mat-progress-spinner>
</div>
