<!-- <form (ngSubmit)="onSubmit()" class = "form">
  <label> Username: <input type="text" [(ngModel)]="userName" name="userName" required>
  </label>
  <br>
  <label> Email: <input type="email" [(ngModel)]="email" name="email" required>
  </label>
  <br>
  <label> Password: <input type="password" [(ngModel)]="password" name="password" required>
  </label>
  <br>
  <button type="submit">Register</button>
</form> -->

<div class="space"></div>

<div class="container">
  <mat-form-field class="fullWidthItem">
    <mat-label>Username</mat-label>
    <input (input)="updateButtonState()" matInput type="userName" [(ngModel)]="userName" name="userName" required>
  </mat-form-field>
</div>

<div class="container">
  <mat-form-field class="fullWidthItem">
    <mat-label>Email</mat-label>
    <input (input)="updateButtonState()" matInput type="email" [(ngModel)]="email" name="email" required>
  </mat-form-field>
</div>

<div class="container">
  <mat-form-field class="fullWidthItem">
    <mat-label>Password</mat-label>
    <input (input)="updateButtonState()" matInput type="password" [(ngModel)]="password" name="password" required>
  </mat-form-field>
</div>

<div class="container">
  <button class="fullWidthItem" [disabled]="isButtonDisabled" mat-raised-button style="background-color: #ffde72; font-weight: bold;" (click)="onSubmit()">Register</button>
</div>
